{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/rsuite-default.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/product.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/box.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/inbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet"> 
</head>
<body class="body">
    <div id="app">
        
    </div>
    {% load static %}
    <script src="{% static "frontend/main.js" %}"></script>

</body>
</html>